PORT=3000
NODE_ENV=production
MONGO_URI=mongodb://mongo:27017/fdfed
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=changeme
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
EMAIL_SERVICE=your_email_service
EMAIL_USER=your_email_username
EMAIL_PASS=your_email_password
ADMIN_EMAILS=admin@example.com
AGENT_EMAILS=agent@example.com
